body {
    background-color: burlywood;
    font-family: sans-serif;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

.menu {
    background-color: burlywood;
    padding: 20px;
    margin-left : auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
}

h1, h2, p {
    text-align: center;
}
h1, h2 {
    color: white;
    text-align: center;
    font-family: Impact, sans-serif;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}

.established {
    font-style: italic;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}
.item p {
    display: inline-block;
}